/* 2*16 = 32 */
/* 1.5*16 = 24 */
/* 1.17*16 = 18.72 */
/* 1*16 = 16 */
/* 0.83*16 = 13.28 */
/* 0.75*16 = 12 */
body {
  font: 400 14px/1.5 "Montserrat", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

h1, p, ul, ol, dl, dd, table, form, picture, figure, blockquote, pre {
  margin-bottom: -0.5em;
  display: block;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0.75em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.75em;
}

p {
  line-height: 1.5;
  margin: 0 0 1em;
  word-break: break-all;
  word-break: break-word;
}

a {
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear;
  -webkit-transition-delay: 0s;
  transition: all 0.2s linear 0s;
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: #ff0000;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

figure {
  margin-bottom: 0.375em;
}

img,
video,
embed,
object {
  display: block;
}

.main-header .logo-container, .mais-dicas article:not(:first-of-type) header,
.dicas-do-mes article:not(:first-of-type) header,
.novidades article:not(:first-of-type) header {
  float: right;
}

.main-header .menu-toggle-container, .main-header .category-navigation a, .mais-dicas article:not(:first-of-type) figure,
.dicas-do-mes article:not(:first-of-type) figure,
.novidades article:not(:first-of-type) figure, .main-footer .footer-navigation a {
  float: left;
}

body {
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #ffffff;
}

img,
video,
embed,
object {
  max-width: 100%;
}

.main-header {
  background-color: #ff0000;
}
.main-header .top-header {
  padding: 15px 20px;
  overflow: hidden;
  *zoom: 1;
}
.main-header .menu-toggle-container div {
  width: 28px;
  height: 4px;
  background-color: #ffffff;
  margin-bottom: 6px;
  border-radius: 100px;
}
.main-header .menu-toggle-container div:last-child {
  margin-bottom: 0;
}
.main-header .logo-container {
  width: 140px;
  height: 28;
}
.main-header .category-navigation {
  overflow: hidden;
  *zoom: 1;
}
.main-header .category-navigation a {
  text-decoration: none;
  text-transform: uppercase;
  width: 16.6666667%;
  font-size: 9px;
  font-weight: bold;
  color: #ffffff;
  padding: 15px 5px;
  text-align: center;
}
.main-header .category-navigation a:hover {
  color: #ffffff;
  background-color: #e30000;
}
@media screen and (orientation: landscape) {
  .main-header .category-navigation a {
    font-size: 13px;
  }
}
.main-header .category-navigation .selected {
  background-color: #e30000;
}

.mais-dicas,
.dicas-do-mes,
.novidades {
  padding: 10px 20px 30px 20px;
  overflow: hidden;
  *zoom: 1;
}
.mais-dicas .section-title,
.dicas-do-mes .section-title,
.novidades .section-title {
  text-transform: uppercase;
  font-size: 14px;
  border-left: 3px solid #ff0000;
  padding-left: 3px;
  margin: 20px 0;
}
.mais-dicas article:first-of-type,
.dicas-do-mes article:first-of-type,
.novidades article:first-of-type {
  margin-bottom: 20px;
}
.mais-dicas article:not(:first-of-type),
.dicas-do-mes article:not(:first-of-type),
.novidades article:not(:first-of-type) {
  overflow: hidden;
  *zoom: 1;
  padding: 10px 0;
}
.mais-dicas article:not(:first-of-type) figure,
.dicas-do-mes article:not(:first-of-type) figure,
.novidades article:not(:first-of-type) figure {
  width: 30%;
  display: inline-block;
}
@media screen and (orientation: landscape) {
  .mais-dicas article:not(:first-of-type) figure,
  .dicas-do-mes article:not(:first-of-type) figure,
  .novidades article:not(:first-of-type) figure {
    width: 40%;
  }
}
.mais-dicas article:not(:first-of-type) header,
.dicas-do-mes article:not(:first-of-type) header,
.novidades article:not(:first-of-type) header {
  width: 70%;
  padding-left: 1em;
  font-size: 10px;
}
@media screen and (orientation: landscape) {
  .mais-dicas article:not(:first-of-type) header,
  .dicas-do-mes article:not(:first-of-type) header,
  .novidades article:not(:first-of-type) header {
    width: 60%;
    font-size: 12px;
  }
}
.mais-dicas article:not(:first-of-type) header .article-category-label,
.dicas-do-mes article:not(:first-of-type) header .article-category-label,
.novidades article:not(:first-of-type) header .article-category-label {
  background-color: transparent;
  padding: 0;
  font-size: 10px;
  color: #999999;
  font-weight: normal;
}
.mais-dicas article:not(:first-of-type) header .article-meta-author,
.mais-dicas article:not(:first-of-type) header .article-meta-date,
.dicas-do-mes article:not(:first-of-type) header .article-meta-author,
.dicas-do-mes article:not(:first-of-type) header .article-meta-date,
.novidades article:not(:first-of-type) header .article-meta-author,
.novidades article:not(:first-of-type) header .article-meta-date {
  font-size: 9px;
}
@media screen and (orientation: landscape) {
  .mais-dicas article:not(:first-of-type) header .article-meta-author,
  .mais-dicas article:not(:first-of-type) header .article-meta-date,
  .dicas-do-mes article:not(:first-of-type) header .article-meta-author,
  .dicas-do-mes article:not(:first-of-type) header .article-meta-date,
  .novidades article:not(:first-of-type) header .article-meta-author,
  .novidades article:not(:first-of-type) header .article-meta-date {
    font-size: 12px;
  }
}

.article-category-label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  background-color: #d8d8d8;
  display: inline-block;
  padding: 2px 7px;
}
.featured .article-category-label {
  background-color: #ffffff;
}

.article-meta-author,
.article-meta-date {
  color: #999999;
  font-size: 12px;
}

.article-meta-author a {
  color: #000000;
}
.article-meta-author a:hover {
  color: #ff0000;
}

.featured {
  position: relative;
  overflow: hidden;
}
.featured figure {
  margin-bottom: 0;
}
.featured header {
  position: absolute;
  left: 0;
  right: auto;
  bottom: 10px;
  width: 100%;
  z-index: 2;
  padding: 0 10px 10px;
}
.featured header h3 {
  color: #ffffff;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.featured .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.main-footer .footer-navigation {
  overflow: hidden;
  *zoom: 1;
  background-color: #d8d8d8;
  text-align: center;
}
.main-footer .footer-navigation a {
  width: 50%;
  font-size: 12px;
  padding: 20px;
}
.main-footer .footer-navigation a:hover {
  color: red;
}
@media screen and (orientation: landscape) {
  .main-footer .footer-navigation a {
    width: 25%;
  }
}
.main-footer .bottom-bar {
  text-align: center;
  color: #999999;
  background-color: #f2f2f2;
  padding: 20px 0;
  font-size: 14px;
}
