@import "compass";


//colors 

$white: #ffffff;
$black: #000000;
$red: #ff0000;
$dark-red: #e30000;
$light-gray: #f2f2f2;
$middle-gray:  #d8d8d8;
$dark-gray: #999999;

@import "partials/mixins";
@import "partials/typography";
@import "partials/placeholders";


//general styles 

* {
	@include bs(border-box);
	margin: 0;
	padding: 0;
	position: relative;
	
	&:before {
		@include bs(border-box);
	}
	
	&:after {
		@include bs(border-box);
	}
}

html {
	@include text-size-adjust(none);
	-webkit-font-smoothing: antialiased;
	
}

body {
	margin: 0;
	padding: 0;
	color: $black;
	background-color: $white;
}	

img,
video,
embed,
object {
	@extend %block;
	max-width: 100%;
}

.main-header {
	background-color: $red;
	
	.top-header {
		padding: 15px 20px;
		@include clearfix;
	}
	
	.menu-toggle-container {
		@extend %alignleft;
		
		div {
			width: 28px;
			height: 4px;
			background-color: $white;
			margin-bottom: 6px;
			border-radius: 100px;
			
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	
	.logo-container {
		width: 140px;
		height: 28;
		@extend %alignright;
	}
	
	.category-navigation {
		
		@include clearfix;
		
		a {
			@extend %alignleft;
			text-decoration: none;
			text-transform: uppercase;
			width: 16.6666667%;
			font-size: 9px;
			font-weight: bold;
			color: $white;
			padding: 15px 5px;
			text-align: center;
			
			&:hover {
				color: $white;
				background-color: $dark-red;
			}
			
			@include breakpoint(landscape) {
				font-size: 13px;
			}
			
		}
		
		.selected {
			background-color: $dark-red;
		}
	}
}

.mais-dicas,
.dicas-do-mes,
.novidades {
	padding: 10px 20px 30px 20px;
	@include clearfix;
	
	.section-title {
		text-transform: uppercase;
		font-size: 14px;
		border-left: 3px solid $red;
		padding-left: 3px;
		margin: 20px 0;
	}
	
	article:first-of-type {
		margin-bottom: 20px;
	}
	
	article:not(:first-of-type) {
		
		@include clearfix; 
		padding: 10px 0;
		
		figure {
			width: 30%; 
			@extend %alignleft;
			display: inline-block;
			
			@include breakpoint(landscape) {
				width: 40%;
			}
		}
		
		header {
			width: 70%;
			@extend %alignright;
			padding-left: 1em;
			font-size: 10px;
			
			@include breakpoint(landscape) {
				width: 60%;
				font-size: 12px;
			}
			
			.article-category-label {
				background-color: transparent;
				padding: 0;
				font-size: 10px;
				color: $dark-gray;
				font-weight: normal;
			}
			
			.article-meta-author,
			.article-meta-date {
				font-size: 9px;
				
				@include breakpoint(landscape) {
					font-size: 12px;
				}
			}
		}
	}
} 



.article-category-label {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	background-color: $middle-gray;
	display: inline-block;
	padding: 2px 7px;
	
	.featured & {
		background-color: $white;
	}
}

.article-meta-author,
.article-meta-date {
	color: $dark-gray;
	font-size: 12px;
}

.article-meta-author {
	
	a {
		color: $black;
		
			&:hover {
				color: $red
			}
	}
}

.featured {
	position: relative;
	overflow: hidden;
	
	figure {
		margin-bottom: 0;
	}
	
	
	header {
		position: absolute;
		left: 0;
		right: auto;
		bottom: 10px;
    	width: 100%;
    	z-index: 2;	
    	padding: 0 10px 10px;
    	
    	h3 {
	    	color: $white;
	    	text-shadow: 0px 1px 3px rgba($black, 0.5);
    	}	
	}
	
	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: rgba($black, 0.1);
		z-index: 1;
	}
	
}



.main-footer {
	
	.footer-navigation {
		@include clearfix;
		background-color: $middle-gray;
		text-align: center;
		
		a {
			@extend %alignleft;
			width: 50%;
			font-size: 12px;
			padding: 20px;
						
			&:hover {
				color: red;
			}
			
			@include breakpoint(landscape) {
				width: 25%;
			}
		}
	}
	
	.bottom-bar {
		text-align: center;
		color: $dark-gray;
		background-color: $light-gray;
		padding: 20px 0;
		font-size: 14px;
	}
}

