%block {
	display: block;
}

%centered {
	margin: 0 auto;
}

%alignright {
	float: right;
}

%alignleft {
	float: left;
}

%transition-all {
	@include single-transition(all, 0.3s, 0s);
}

%border-box {
	@include bs(border-box);
}

%antialiased {
	-webkit-font-smoothing: antialiased;
}