//variables 

$font-stack-1: 'Montserrat', sans-serif;

$baseline: 1.5em;

$h1_default_size: 2.5em;     /* 2*16 = 32 */  
$h2_default_size: 1.5em;   /* 1.5*16 = 24 */ 
$h3_default_size: 1.17em;  /* 1.17*16 = 18.72 */ 
$h4_default_size: 1em;	   /* 1*16 = 16 */
$h5_default_size: 0.83em;  /* 0.83*16 = 13.28 */ 
$h6_default_size: 0.75em;  /* 0.75*16 = 12 */ 


//styles

body {
	font: 400 14px/1.5 $font-stack-1;
	@extend %antialiased;
	text-rendering: optimizeLegibility;
	@include text-size-adjust(none);
}


h1, p, ul, ol, dl, dd, table, form, picture, figure, blockquote, pre {
	margin-bottom: -0.5em;
	display: block;
}

h1 {
	font-size: $h1_default_size;
	margin-bottom: ($baseline/2);
}

h2 {
	font-size: $h2_default_size;
	margin-bottom: ($baseline/2);
}

h3 {
	font-size: $h3_default_size;
}

h4 {
	font-size: $h4_default_size;
}

h5 {
	font-size: $h5_default_size;
}

h6 {
	font-size: $h6_default_size;
}

p {
	line-height: 1.5;
	margin: 0 0 1em;
	word-break: break-all;
	word-break: break-word;
	
}

a {
	@include single-transition(all, .2s, linear, 0s);
	text-decoration: none;
	color: inherit;
	
	&:visited {
		color: inherit;
		text-decoration: inherit;
	}
	
	&:hover {
		color: $red;
	}
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

figure {
	margin-bottom: ($baseline/4);
}
